@import './variables.scss';

*::selection {
	background: $primary;
	color: $white;
}

html {
	@include responsiveFull(118.75rem) {
		font-size: 1.4375rem;
	}
	@include responsive(118.75rem) {
		font-size: 1.3125rem;
	}
	@include responsive(1650px) {
		font-size: 1.0938rem;
	}
	@include responsive(100rem) {
		font-size: 1.0625rem;
	}
	@include responsive(75rem) {
		font-size: 1.0313rem;
	}
	@include responsive(62.5rem) {
		font-size: 1.0125rem;
	}
	@include responsive(55.625rem) {
		font-size: 1rem;
	}
	@include responsive(41.75rem) {
		font-size: 0.9375rem;
	}
}

.disclaimer {
	display: none;
}

body {
	background: $background;
	font-size: 1.125rem;
	font-family: $font;
	// transition: 0.3s all ease-in;
	animation: fadein 1s;
	word-wrap: break-word;
	&.light {
		background: $secundary;
		color: $black;
	}
	&::-webkit-scrollbar {
		width: 0.4375rem;
	}
	&::-webkit-scrollbar-thumb {
		background: $primary;
		border-radius: 0.625rem;
	}
}

p {
	overflow: hidden !important;
	padding: 0.625rem 0;
	line-height: 1.5625rem;
	margin-bottom: 1.25rem;
	color: $secundary;
	body.light & {
		color: $background;
	}
	@include responsive() {
		line-height: auto;
	}
}

a {
	overflow: hidden;
	text-decoration: none;
	color: $secundary;
	border-bottom: 0.125rem solid transparent;
	body.light & {
		color: $background;
	}
}
.enlace__footer:hover {
	border-bottom: 0.125rem solid $secundary;
	body.light & {
		border-bottom: 0.125rem solid $background;
	}
}

.contenedor {
	// @include grid(3, 1.25rem);
	grid-template-areas:
		'header        header          header'
		'imagen         imagen          imagen'
		'informacion    informacion     informacion'
		'lenguajes      lenguajes       lenguajes'
		/* "parrafo"       "parrafo"       "parrafo" */
		'contacto       contacto        contacto'
		'footer         footer          footer';
}

// /**--------------------------------------------------------------*/
// /*!----------------- Header -----------------*/
// /**--------------------------------------------------------------*/

.header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	transition: 0.3s all ease-in-out;
	position: fixed;
	width: 100%;
	background-color: $segundo-bg;
	@include shadow($bg-title);
	z-index: 1;
	body.light & {
		background: $secundary;
		@include shadow($shadow);
	}
}

.header__logo {
	max-width: 170px;
	padding: 0.3125rem;
	height: auto;
	margin-left: 1.25rem;
	display: flex;
	align-items: center;
	@include responsive(51.875rem) {
		margin-left: 0.3125rem;
	}
}

.header__nav {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-right: 1.25rem;
	@include responsive(71.875rem) {
		position: fixed;
		top: 0;
		left: 0;
		width: 30%;
		z-index: 2;
		min-height: 100%;
		background: $background;
		color: white;
		@include shadow($bg-title);
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-evenly;
		transition: 0.5s all ease-in-out;
		transform: translateX(-101%);
		@include responsive(48rem) {
			width: 35%;
		}
		@include responsive() {
			width: 60%;
		}
		body-light & {
			@include shadow($background);
		}
	}
	&2 {
		transform: translateX(0%);
	}
}

.header__enlaces {
	margin: 0 0.3125rem;
	padding: 0.75rem 0.9375rem;
	min-width: 6.25rem;
	display: flex;
	cursor: pointer;
	color: $primary !important;
	border-radius: 6.25rem;
	align-items: center;
	transition: 0.5s all ease-in-out;
	font-weight: 500;
	&:hover {
		background: $primary;
		color: $white !important;
	}
}

.parallax,
.informacion,
.lenguajes,
.contacto {
	max-width: $max-width;
	margin: 0 auto;
}

.hamburguesa {
	display: none;
	margin-right: 1.25rem;
	@include responsive(71.875rem) {
		display: block;
		margin-right: 0.3125rem;
	}
}

.icono__hamburguesa {
	background: transparent;
	color: $primary;
	margin: 0;
	display: flex;
	margin: 0.3125rem 0 0 5px !important;
	border: 1px solid transparent !important;
	&:hover {
		background: transparent !important;
	}
}

.header__nav--btn {
	@include responsive(71.875rem) {
		margin-left: 1.875rem !important;
	}
	@include responsive() {
		margin-left: 1.5625rem !important;
	}
}
